<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="static/webgl-scripts.js"></script>
        <script type="text/javascript" src="static/shaders.js"></script>
    </head>
    <body onload="start(run_shaders)">
        <canvas id="glcanvas" width="720" height="720">
          Your browser doesn't appear to support the HTML5 <code>&lt;canvas&gt;</code> element.
        </canvas>
      </body>
      <script>
        addEventListener('mousemove', handleMouseMove);
      </script>
</html>
